amqp==5.3.1
billiard==4.2.1
celery==5.4.0
click==8.1.8
fastapi==0.115.8
kombu==5.4.2
pydantic==2.10.6
pydantic_core==2.27.2
redis==5.2.1
requests
selenium==4.28.1
starlette==0.45.3
trio==0.28.0
trio-websocket==0.11.1
typing_extensions
tzdata==2025.1
urllib3
uvicorn==0.34.0
vine==5.1.0
wheel
wsproto==1.2.0

